* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f49b;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3 {
  font-weight: bold;
}

/* Header styles*/

.header {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  position: relative; 
  top: -50px; 
  margin-right: auto; 
  text-align: center;
  color: rgb(2, 1, 1); 
  padding: 10px; 
}

.hero-text h1 {
 
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1; 
  max-width: 600px;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
}


.header .logo {
  font-size: 27px;
  color: white;
}

.header nav {
  display: flex;
  gap: 40px;
}

.header nav a {
  color:white;
  font-weight: bold;
}

.header nav a:hover {
  color: rgb(211, 123, 7);
}

/* Footer Styles */

footer {
  background-color:black;
  color: white;
  text-align: center;
  padding: 20px
}

footer .p {  
  margin: 0;
}

/*Home*/

.hero {
  background-image: url('/perfume .jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh; 
  width: 100%; 
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  color: white;
  padding-left: 60px;
}

.hero {
  font-size: 20px;
  text-shadow: 2px 2px 5px rgba(0,0,0.f) ;
}

.p {
  font-size: 10px;
  margin-top: 10px;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #854511;
  color:black;
  border: none;
  font-weight: 3px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button {
  background-color: rgb(211, 127, 18);
}

.hero button:hover {
  background-color: #333;
}


/*about us */

.about {
  background-image: url('/about.webp');
  background-size: cover;
  background-position: center;
  color:black;
  padding:80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-content {
  position: relative; 
  top: -80px;
  max-width: 500px;
  text-align: center;
  padding:30px;
  border-radius: 10px;
}

.about-content p{
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 10px;
  line-height: 1.2; 
}

/*men's and women's wear*/

.perfumes {
  background-image: url('/gold.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  padding-top: 20px ;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.perfumes img {
  width: 60%; 
  height: auto;
  border-radius: 10px; 
  object-fit: cover;
}

.perfume-card {
  text-align: center;
  }

.perfume-card h3 {
  margin-top: 3%;
}

.perfume-card p {
  font-size: 15px;
  color: black;
}

.perfume-card .price {
  font-size: 20px;
  font-weight: bold;
  color: rgb(141, 50, 15);
}

.perfume-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #854511;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.perfume-card button:hover {
  background-color: #333;
}


.perfume-card:hover img  {
  transform: scale(1.1);
} 

/* contact us */
.main{
  background-image: url('/gold.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 20px ;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.contact-form {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0,0,0.2);
  border-radius: 10px;
  gap: 15px;
}

.contact-form h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px ;
  padding-inline: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  width:100%;
  padding: 12px;
  background-color:#854511;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color:#333;
}

/*fade-in Animation*/
@keyframes fadein {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }

}

.fade-in {
  opacity: 1;
  animation: fadein 2s ease-out forwards;
}

/*reponsive styles*/

@media (max-width:768px) {

  .header {
    flex-direction: column;
    text-align: center;

  }

  .header .logo {
    margin-bottom: 10px;
  }

  .header nav {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .hero {
    height: 70vh;
    padding: 20px;
    text-align: center;

  }
  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero button {
    width: 100px;
    padding: 12px;
    font-size: 16px;
  }

  .perfumes {
    grid-template-columns: 2fr;
    margin: 0px;
  }

  .about {
    padding: 60px 20px;
    height: auto;
  }

  .about-content {
    width: 100%;
    padding: 20px;
  }

  .contact-form {
    margin: 20px;
    padding: 20px;
  }

}